<div class="index-background">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.1)), url(<%= image_path('feet.jpg'); %>)">
    <div class="banner-content banner-home-margin">
        <h1>Welcome to ivolunteer</h1>
        <h3><i>Track Your Volunteering Day by Day</i></h3>
        <% if user_signed_in? %>
          <%= link_to "Start!", reports_path, type: "button", class: "button" %>
        <% else %>
          <%= link_to "Start Today!", new_user_registration_path, type: "button", class: "button" %>
        <% end %>
    </div>
  </div>
<div class="home-text">
  <p>How it works</p>
</div>


<div class="home-flex">
  <div class="home-flex-element">
    <div class="home-flex-item">
      <p><i class="fas fa-check"></i>
       <b>Personal Reports</b> <br></p>
       <div class="margin"><p>Create a report for each month that you carry out any volunteer work. You can add and edit your work for the current month, the next month, or adjust work you've carried out in the past. </p></div>


    </div>
     <div class="home-flex-item">
      <p><i class="fas fa-check"></i>
       <b>Add Your Volunteer Work</b> <br></p>
       <div class="margin"><p>Every time you finish volunteering, you can instantly add a description, the number of hours worked, and even photos to your monthly report.</p></div>


    </div>

  </div>
   <div class="home-flex-element">`
    <div class="home-flex-image"> <i class="fas fa-tv"></i></div>

  </div>
   <div class="home-flex-element">
     <div class="home-flex-item">
      <p><i class="fas fa-check"></i>
       <b>View Your Reports</b> <br></p>
       <div class="margin"><p>At the end of the month, you can easily take all added information and send it to the concerning organisation, use it for your volunteering blog, or even just keep it for your personal records.</p></div>


    </div>
     <div class="home-flex-item">
       <p><i class="fas fa-check"></i>
       <b>Easy Peasy!</b> <br></p>
       <div class="margin"><p> Sign-up, create a report, and start tracking your volunteer work today. Keep track of time, notes, and dates of how you changed the world this month!</p></div>

    </div>

  </div>
</div>

<div class="bottom-text">
  <p>Volunteering Inspiration <i class="fas fa-heart"></i></p>
</div>


<div class="opportunity-flex">
  <%= link_to( 'https://www.vegansociety.com/get-involved/volunteer-vegan-society/become-volunteer') do %>
    <div>
      <%= image_tag('vegansociety.jpg', class: "news-card-photo") %>
    </div>
  <% end %>
   <%= link_to( 'https://www.goodgym.org/') do %>
    <div>
      <%= image_tag('goodgym.png', class: "news-card-photo") %>
    </div>
  <% end %>
   <%= link_to( 'https://volunteer.yha.org.uk/') do %>
    <div>
      <%= image_tag('yha.png', class: "news-card-photo") %>
    </div>
  <% end %>
   <%= link_to( 'https://www.crisis.org.uk/get-involved/volunteer/') do %>
    <div>
      <%= image_tag('crisis.png', class: "news-card-photo") %>
    </div>
  <% end %>





</div>





