<div class="index-background">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.1)), url(<%= image_path('feet.jpg'); %>)">
    <div class="banner-content">
        <h1>Welcome to ivolunteer</h1>
        <h3><i>Track Your Volunteering Day by Day</i></h3>
        <% if user_signed_in? %>
          <%= link_to "Start!", new_report_path, type: "button", class: "button" %>
        <% else %>
          <%= link_to "Start Today!", new_user_registration_path, type: "button", class: "button" %>
        <% end %>
    </div>
  </div>
<div class="home-text">
  <p>How it works</p>
</div>


<div class="home-flex">
  <div class="home-flex-element">
    <div class="home-flex-item">
      <p><i class="fas fa-check"></i>
       <b>Personal Reports</b> <br></p>
       <div class="margin"><p>Create a report for each month that you carry out any volunteer work. You can add and edit your work for the current month, the next month, or adjust work you've carried out in the past. </p></div>


    </div>
     <div class="home-flex-item">
      <p><i class="fas fa-check"></i>
       <b>Add Your Volunteer Work</b> <br></p>
       <div class="margin"><p>Every time you finish volunteering, you can instantly add a description, the number of hours worked, and even photos to your monthly report.</p></div>


    </div>

  </div>
   <div class="home-flex-element">`
    <div class="home-flex-image"> <i class="fas fa-tv"></i></div>

  </div>
   <div class="home-flex-element">
     <div class="home-flex-item">
      <p><i class="fas fa-check"></i>
       <b>View Your Reports</b> <br></p>
       <div class="margin"><p>At the end of the month, you can easily take all added information and send it to the concerning organisation, use it for your volunteering blog, or even just keep it for your personal records.</p></div>


    </div>
     <div class="home-flex-item">
       <p><i class="fas fa-check"></i>
       <b>Easy Peasy!</b> <br></p>
       <div class="margin"><p> Sign-up, create a report, and start tracking your volunteer work today. Keep track of time, notes, and dates of how you changed the world this month!</p></div>

    </div>

  </div>
</div>

<div class="home-text">
  <p>Volunteering Inspiration <i class="fas fa-heart"></i></p>
</div>


<div class="opportunity-flex">
  <%= link_to( 'https://www.vegansociety.com/get-involved/volunteer-vegan-society/become-volunteer') do %>
    <div class="news-card">
      <%= image_tag('vegansociety.jpg', class: "news-card-photo") %>
      <div class="card-text">
        <p><%= truncate("Want to know how you can become more involved with The Vegan Society? Watch the video and browse through the links below to discover the many different ways you can volunteer, ranging from actively involved roles to ones you can carry out from the comfort of your home.", length: 160, omission: '... (continued)') %></p>
      </div>
    </div>
  <% end %>



  <div class="news-card">
   https://www.crisis.org.uk/get-involved/
  </div>
  <div class="news-card">
    https://volunteer.yha.org.uk/
  </div>
</div>





